
<html>
    <head>
        <title>BUSE'nin blogu </title>
    </head>
    <body>
        <div>
            <h1><a href="/">BUSE's Blog</a></h1>
        </div>
        <div>
            <p>yayın tarihi: 28.04.2018, 17.13</p>
            <h2><a href="">İlk Gönderim</a></h2>
            <p> ilk gonderimi yaziyorum. </p>
        </div>

        <div>
            <p>published: 28.04.2018, 17.14</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p> ikinci gonderimi yaziyorum.</p>
        </div>
    </body>
</html>
